<div class="accordion" id="accordian-{{Id}}">
    <div class="accordion-item">
        <h2 class="accordion-header" id="heading-{{Id}}">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#{{Id}}" aria-expanded="true" aria-controls="{{Id}}">
                <span class="failed" >{{Name}}</span>
            </button>
        </h2>

        <div id="{{Id}}" class="accordion-collapse collapse" aria-labelledby="heading-{{Id}}" data-bs-parent="#accordian-{{Id}}">
            <div class="accordion-body">
                <table class="table table-md m-0" id="failTable">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">#</th>
                            <th scope="col">Test Case</th>
                            <th scope="col">Outcome</th>
                            <th scope="col">Duration</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#UnitTests}}
                        {{#ifCheckLength UnitTests.Count}}
                        {{> UnitTest }}
                        {{else}}
                        <tr class="toggleRow">
                            <td colspan="5" class="hiddenRow p-0">
                                <div class="accordion-body collapse test{{RowCount}} p-0 ml-5">
                                    <table class="table table-sm m-0">
                                        {{#UnitTests}}
                                        {{> UnitTest2 }}
                                        {{/UnitTests}}
                                    </table>
                                </div>
                            </td>
                        </tr>
                        {{/ifCheckLength}}
                        {{/UnitTests}}
                    </tbody>
                </table>
            </div>
        </div>


    </div>
</div>