<tr data-toggle="collapse" data-target=".test{{RowCount}}" 
    class="clickable {{#ifCheckLength UnitTests.Count}}{{else}} toggleRow {{/ifCheckLength}}">   
    <td>
        {{#ifCheckLength UnitTests.Count}}
        {{else}}
        <i class="fas fa-chevron-right chevron" id="toggleRow{{RowCount}}"></i>
        {{/ifCheckLength}}
    </td>    
    <th scope="row">{{RowCount}}</th>
    <td>{{Name}}</td>
    <td {{#if Outcome}} class="passed" {{else}} class="failed" {{/if}}>{{ExecutionResult}}</td>
    <td>{{Time}}</td>
</tr>