<tr>
    <th scope="row">{{RowCount}}</th>
    <td></td>
    <td>{{Name}}</td>
    <td {{#if Outcome}} class="passed" {{else}} class="failed" {{/if}}>{{ExecutionResult}}</td>
    <td></td>   
    <td></td>
    <td></td>
    <td>{{Time}}</td>
    <td></td>
</tr>